/*
  トップCSS
*/
/*
  上部お知らせ

  通常時:#696969
  緊急時:#D90000
*/
#notice {
  background-color: #D90000;
  color: #FFFFFF;
  text-align: center;
}

#notice a {
  color: #FFFFFF;
}

/* 😟 */
noscript {
  background-color: #D90000;
  color: #FFFFFF;
  text-align: center;
  font-size: 500px;
}

/* 新着情報 */
#newsContainer {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  width: 450px;
  height: 100%;
  border: 1px solid #163483;
}

#newsNav {
  background-color: #163483;
  color: #FFFFFF;
  display: flex;
}

#newsNav p {
}

#newsNav a {
  color: #FFFFFF;
}

#newsContent dl {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}

/* 緊急情報 */
#emergencyContainer {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  width: 450px;
  height: 100%;
  border: 1px solid #D90000;
}

#emergencyNav {
  background-color: #D90000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

#emergencyNav a {
  color: #FFFFFF;
}

#emergencyContent dl {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}

/* バナー広告 */
#adsContainer {
  background-color: #A9A9A9;
}

#adsNav {
  background-color: #C0C0C0;
  border: 1px solid #696969;
  display: flex;
}

#ads {
  text-align: center;
  font-size: 25px;
}