/*
  共通CSS
*/
/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DCDCDC;
}

/* gNavBar */
#gNavBar {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

#gNavBarLogo {
}

#gNavBarLogo a {
  color: #FFFFFF;
}

#gNavBarContent {
}

#gNavBarContent ul {
  color: #FFFFFF;
  display: flex;
}

/* gNav */
#gNav {
  background-color: #A9A9A9;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}

#gNavLogo {
  float: left;
}

#gNavContent {
  float: right;
}

#gNav ul {
  display: flex;
}

/* contentContainer */
#contentContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* footerContainer */
#footerContainer {
  background-color: #A9A9A9;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

#footerNav {
  background-color: #C0C0C0;
  width: 100%;
  height: 25px;
  display: flex;
}

#footerNav ul {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

#footerNav a {
}

#footerContent {
  width: 100%;
  height: 100px;
}

#name {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#copyright {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}

